# Creating data table
## importing

In [28]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
PATH = Service("C:\Program Files (x86)\chromedriver.exe")

driver = webdriver.Chrome(service = PATH)
driver.close()

## Reading local csv

In [2]:
club_read = pd.read_csv("raw_datasets\clubs.csv")
club_read.head()

,club_id,name,pretty_name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,url
0,1032,fc-reading,Fc Reading,GB1,33.66,26,25.9,12,46.2,6,Select Car Leasing Stadium,24161,+£8.37m,Brian McDermott,https://www.transfermarkt.co.uk/fc-reading/sta...
1,2323,orduspor,Orduspor,TR1,NaN,0,NaN,0,NaN,0,19 Eylül Stadyum,11024,+-0,Héctor Cúper,https://www.transfermarkt.co.uk/orduspor/start...
2,1387,acn-siena-1904,Acn Siena 1904,IT1,4.32,30,26.2,6,20.0,2,Artemio Franchi,15373,£-6Th.,Serse Cosmi,https://www.transfermarkt.co.uk/acn-siena-1904...
3,3592,kryvbas-kryvyi-rig,Kryvbas Kryvyi Rig,UKR1,2.95,24,24.5,2,8.3,0,Shakhty Zhovtneva,2500,£-270Th.,Oleg Taran,https://www.transfermarkt.co.uk/kryvbas-kryvyi...
4,1071,wigan-athletic,Wigan Athletic,GB1,12.38,29,26.5,14,48.3,6,DW Stadium,25133,£-140Th.,Roberto Martínez,https://www.transfermarkt.co.uk/wigan-athletic...

In [3]:
competitions_read = pd.read_csv("raw_datasets\competitions.csv")
competitions_read.head()

,competition_id,name,type,country_id,country_name,domestic_league_code,confederation,url
0,L1,bundesliga,first_tier,40,Germany,L1,europa,https://www.transfermarkt.co.uk/bundesliga/sta...
1,DFB,dfb-pokal,domestic_cup,40,Germany,L1,europa,https://www.transfermarkt.co.uk/dfb-pokal/star...
2,DFL,dfl-supercup,domestic_super_cup,40,Germany,L1,europa,https://www.transfermarkt.co.uk/dfl-supercup/s...
3,NL1,eredivisie,first_tier,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/eredivisie/sta...
4,NLP,toto-knvb-beker,domestic_cup,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/toto-knvb-beke...

In [4]:
players_read = pd.read_csv("raw_datasets\players.csv")
players_read.head()

,player_id,last_season,current_club_id,name,pretty_name,country_of_birth,country_of_citizenship,date_of_birth,position,sub_position,foot,height_in_cm,market_value_in_gbp,highest_market_value_in_gbp,url
0,254016,2013,855,arthur-delalande,Arthur Delalande,France,France,5/18/1992,Midfield,midfield - Central Midfield,Right,186,NaN,90000.0,https://www.transfermarkt.co.uk/arthur-delalan...
1,51053,2013,23,daniel-davari,Daniel Davari,Germany,Iran,1/6/1988,Goalkeeper,Goalkeeper,Right,192,135000.0,1130000.0,https://www.transfermarkt.co.uk/daniel-davari/...
2,31451,2013,23,torsten-oehrl,Torsten Oehrl,Germany,Germany,1/7/1986,Attack,attack - Centre-Forward,Right,192,NaN,1130000.0,https://www.transfermarkt.co.uk/torsten-oehrl/...
3,44622,2013,3691,vladimir-kisenkov,Vladimir Kisenkov,UdSSR,Russia,10/8/1981,Defender,Defender - Right-Back,Right,182,NaN,720000.0,https://www.transfermarkt.co.uk/vladimir-kisen...
4,30802,2013,3302,oscar-diaz,Oscar Diaz,Spain,Spain,4/24/1984,Attack,attack - Centre-Forward,Right,183,NaN,1080000.0,https://www.transfermarkt.co.uk/oscar-diaz/pro...

In [5]:
players_valuations_read = pd.read_csv("raw_datasets\player_valuations.csv")
players_valuations_read.head()

   player_id        date  market_value
0     254016  2013-07-22         90000
1     254016  2014-01-14         90000
2      51053  2008-08-25         90000
3      51053  2011-05-30         90000
4      51053  2011-08-26        225000

## Now begins the table handling

In [6]:
transfermarkt_url = [competitions_read.loc[competitions_read.domestic_league_code == x].iloc[0,7] 
       for x in ["GB1", "IT1", "ES1", "FR1", "L1"]]
transfermarkt_url

['https://www.transfermarkt.co.uk/premier-league/startseite/wettbewerb/GB1',
 'https://www.transfermarkt.co.uk/serie-a/startseite/wettbewerb/IT1',
 'https://www.transfermarkt.co.uk/laliga/startseite/wettbewerb/ES1',
 'https://www.transfermarkt.co.uk/ligue-1/startseite/wettbewerb/FR1',
 'https://www.transfermarkt.co.uk/bundesliga/startseite/wettbewerb/L1']

In [7]:
PATH = Service("C:\Program Files (x86)\chromedriver.exe")

driver = webdriver.Chrome(service = PATH)

team_names = []

# extract only teams currently in the league
for league_url in transfermarkt_url:
    driver.get(league_url)

    
    # get number of teams in the league
    league_details = driver.find_element("xpath", "(//tbody)").find_element("xpath", "(//tr)[2]").get_attribute('innerHTML')
    league_details.replace(' ','')
    start_stamp = league_details.find('<td>')+5
    end_stamp = league_details.find('teams',start_stamp)
    no_of_teams = int(league_details[start_stamp:end_stamp].strip())

    
    # get name of each team, matching club table convention
    search = driver.find_element("xpath", "(//tbody)[4]")
    for _ in range (1, no_of_teams+1):
        detail = search.find_element("xpath","(//td[@class='hauptlink no-border-links'])[%i]" %_).get_attribute('innerHTML')
        start_stamp = detail.find('/')+1
        end_stamp = detail.find('/',start_stamp)
        team_names.append(detail[start_stamp:end_stamp])

driver.close()

len(team_names)

98

In [8]:
filter_table = club_read.loc[(club_read.domestic_competition_id.isin(["GB1", "IT1", "ES1", "FR1", "L1"])) & (club_read.name.isin(team_names))].iloc[:,[0,1,2,3,-1]]

In [9]:
club_table = pd.DataFrame({'name':team_names}).merge(filter_table)
club_table

,name,club_id,pretty_name,domestic_competition_id,url
0,manchester-city,281,Manchester City,GB1,https://www.transfermarkt.co.uk/manchester-cit...
1,fc-liverpool,31,Fc Liverpool,GB1,https://www.transfermarkt.co.uk/fc-liverpool/s...
2,fc-chelsea,631,Fc Chelsea,GB1,https://www.transfermarkt.co.uk/fc-chelsea/sta...
3,manchester-united,985,Manchester United,GB1,https://www.transfermarkt.co.uk/manchester-uni...
4,tottenham-hotspur,148,Tottenham Hotspur,GB1,https://www.transfermarkt.co.uk/tottenham-hots...
...,...,...,...,...,...
93,hertha-bsc,44,Hertha Bsc,L1,https://www.transfermarkt.co.uk/hertha-bsc/sta...
94,1-fc-union-berlin,89,1 Fc Union Berlin,L1,https://www.transfermarkt.co.uk/1-fc-union-ber...
95,arminia-bielefeld,10,Arminia Bielefeld,L1,https://www.transfermarkt.co.uk/arminia-bielef...
96,vfl-bochum,80,Vfl Bochum,L1,https://www.transfermarkt.co.uk/vfl-bochum/sta...
97,spvgg-greuther-furth,65,Spvgg Greuther Furth,L1,https://www.transfermarkt.co.uk/spvgg-greuther...

In [10]:
for i in range(len(club_table.club_id)):
    if i == 0:
        mc_players = players_read.loc[(players_read.current_club_id == club_table.club_id[i])&(players_read.last_season == 2021)]
    else:
        club_players = players_read.loc[(players_read.current_club_id == club_table.club_id[i])&(players_read.last_season == 2021)]
        mc_players = pd.concat([mc_players,club_players])
        
mc_players = mc_players.iloc[:,[0,2,3,4,5,7,8,9,10]]

In [11]:
mc_players

,player_id,current_club_id,name,pretty_name,country_of_birth,date_of_birth,position,sub_position,foot
20224,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left
20228,363205,281,gabriel-jesus,Gabriel Jesus,Brazil,4/3/1997,Attack,attack - Centre-Forward,Right
20440,203460,281,jack-grealish,Jack Grealish,England,9/10/1995,Attack,attack - Left Winger,Right
20443,134425,281,raheem-sterling,Raheem Sterling,Jamaica,12/8/1994,Attack,attack - Left Winger,Right
20444,241641,281,bernardo-silva,Bernardo Silva,Portugal,8/10/1994,Attack,midfield - Attacking Midfield,Left
...,...,...,...,...,...,...,...,...,...
17578,36898,65,sascha-burchert,Sascha Burchert,DDR,10/30/1989,Goalkeeper,Goalkeeper,Right
17580,199221,65,andreas-linde,Andreas Linde,Sweden,7/24/1993,Goalkeeper,Goalkeeper,Right
17581,170517,65,marius-funk,Marius Funk,Germany,1/1/1996,Goalkeeper,Goalkeeper,Right
17583,161204,65,julian-green,Julian Green,United States,6/6/1995,Midfield,midfield - Central Midfield,Right
17604,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right

In [12]:
player_past = pd.merge(mc_players, players_valuations_read, on = ['player_id'])
player_past

,player_id,current_club_id,name,pretty_name,country_of_birth,date_of_birth,position,sub_position,foot,date,market_value
0,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2011-08-08,90000
1,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2011-09-03,180000
2,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2011-12-25,180000
3,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2012-06-01,270000
4,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2013-01-04,450000
...,...,...,...,...,...,...,...,...,...,...,...
50334,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2020-04-08,855000
50335,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2020-11-18,1800000
50336,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2021-02-08,1800000
50337,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2021-06-16,2250000
50338,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2021-12-22,1980000

In [13]:
def endseason(date):
    return abs(sum(int(date[5:7])-i for i in [5,6,7,8,9]))

def date_extract(datelist):
    yearlist = {}
    for date in datelist:
        if not date[:4] in yearlist:
            yearlist[date[:4]] = date
        elif endseason(date) < endseason(yearlist[date[:4]]):
            yearlist[date[:4]] = date
    return yearlist

In [14]:
arr = pd.unique(player_past.name)
for i in range(len(arr)):
    year_player = player_past.loc[player_past.name == arr[i]]
    if i == 0:
        fin = year_player.loc[year_player.date.isin(date_extract(year_player.date).values())]
    else:
        fin = pd.concat([fin, year_player.loc[year_player.date.isin(date_extract(year_player.date).values())]])
fin

,player_id,current_club_id,name,pretty_name,country_of_birth,date_of_birth,position,sub_position,foot,date,market_value
0,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2011-08-08,90000
3,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2012-06-01,270000
5,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2013-05-30,675000
7,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2014-08-12,1800000
9,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2015-07-01,6300000
...,...,...,...,...,...,...,...,...,...,...,...
50326,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2017-06-19,1800000
50329,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2018-06-19,900000
50331,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2019-06-12,900000
50333,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2020-04-02,1080000
50337,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2021-06-16,2250000

In [15]:
fin["date"] = fin["date"].apply(lambda d: d[:4]).astype('int64')

In [16]:
fin = fin.loc[fin.date != 2023]
fin

,player_id,current_club_id,name,pretty_name,country_of_birth,date_of_birth,position,sub_position,foot,date,market_value
0,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2011,90000
3,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2012,270000
5,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2013,675000
7,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2014,1800000
9,171424,281,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2015,6300000
...,...,...,...,...,...,...,...,...,...,...,...
50326,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2017,1800000
50329,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2018,900000
50331,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2019,900000
50333,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2020,1080000
50337,183780,65,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2021,2250000

In [17]:
player_performance = pd.read_csv("player_performance.csv")
player_performance.head()

          name  date  Apps  Mins  Goals  Assists  Yel  Red  MotM  Rating
0  adam-szalai  2009    15   791      1        1    0    0     0    6.41
1  adam-szalai  2010    20  1287      4        3    1    0     1    6.82
2  adam-szalai  2011    15  1072      3        1    2    1     0    6.66
3  adam-szalai  2012    29  2406     13        3    6    0     3    6.97
4  adam-szalai  2013    35  1850      7        0    2    0     1    6.58

In [52]:
data_table = pd.merge(fin,player_performance,on = ['name','date'])
data_table = pd.merge(data_table,club_table,left_on = ['current_club_id'],right_on=['club_id'])
data_table = data_table.iloc[:,list(range(2,19))+[-3,-2]]
data_table

,name_x,pretty_name_x,country_of_birth,date_of_birth,position,sub_position,foot,date,market_value,Apps,Mins,Goals,Assists,Yel,Red,MotM,Rating,pretty_name_y,domestic_competition_id
0,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2013,675000,19,1163,3,4,0,0,1,7.21,Manchester City,GB1
1,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2014,1800000,31,2155,4,3,0,0,2,7.14,Manchester City,GB1
2,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2015,6300000,41,3299,18,12,1,0,10,7.72,Manchester City,GB1
3,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2016,27000000,45,3613,10,5,5,0,5,7.01,Manchester City,GB1
4,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2017,27000000,36,2961,12,10,2,0,5,7.28,Manchester City,GB1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2017,1800000,23,1775,0,0,2,0,0,6.56,Spvgg Greuther Furth,L1
13897,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2018,900000,12,1025,2,1,0,1,0,6.91,Spvgg Greuther Furth,L1
13898,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2019,900000,32,2741,1,2,10,0,1,6.97,Spvgg Greuther Furth,L1
13899,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2020,1080000,33,2838,7,8,9,0,1,7.23,Spvgg Greuther Furth,L1
13900,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2021,2250000,27,2110,0,3,9,0,0,6.40,Spvgg Greuther Furth,L1

In [53]:
df = data_table.columns.tolist()
df = [df[-1],df[-2]]+df[:-2]
data_table = data_table[df]
data_table["domestic_competition_id"] = data_table["domestic_competition_id"].apply(lambda id: "EPL" if id=='GB1' else ("Serie A" if id=='IT1' else("La Liga" if id=='ES1' else("League 1" if id=='FR1' else "Bundesliga"))))

In [54]:
data_table.rename(columns = {"pretty_name_y":"club","pretty_name_x":"name","domestic_competition_id":"league"},inplace = True)
data_table

,league,club,name_x,name,country_of_birth,date_of_birth,position,sub_position,foot,date,market_value,Apps,Mins,Goals,Assists,Yel,Red,MotM,Rating
0,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2013,675000,19,1163,3,4,0,0,1,7.21
1,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2014,1800000,31,2155,4,3,0,0,2,7.14
2,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2015,6300000,41,3299,18,12,1,0,10,7.72
3,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2016,27000000,45,3613,10,5,5,0,5,7.01
4,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2017,27000000,36,2961,12,10,2,0,5,7.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2017,1800000,23,1775,0,0,2,0,0,6.56
13897,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2018,900000,12,1025,2,1,0,1,0,6.91
13898,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2019,900000,32,2741,1,2,10,0,1,6.97
13899,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2020,1080000,33,2838,7,8,9,0,1,7.23
13900,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2021,2250000,27,2110,0,3,9,0,0,6.40

In [56]:
def age_at(y):
    return y['date'] - int(y['date_of_birth'][-4:])
data_table['age'] = data_table.apply(age_at,axis = 1)
data_table

,league,club,name_x,name,country_of_birth,date_of_birth,position,sub_position,foot,date,market_value,Apps,Mins,Goals,Assists,Yel,Red,MotM,Rating,age
0,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2013,675000,19,1163,3,4,0,0,1,7.21,22
1,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2014,1800000,31,2155,4,3,0,0,2,7.14,23
2,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2015,6300000,41,3299,18,12,1,0,10,7.72,24
3,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2016,27000000,45,3613,10,5,5,0,5,7.01,25
4,EPL,Manchester City,riyad-mahrez,Riyad Mahrez,France,2/21/1991,Attack,attack - Right Winger,Left,2017,27000000,36,2961,12,10,2,0,5,7.28,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2017,1800000,23,1775,0,0,2,0,0,6.56,22
13897,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2018,900000,12,1025,2,1,0,1,0,6.91,23
13898,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2019,900000,32,2741,1,2,10,0,1,6.97,24
13899,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2020,1080000,33,2838,7,8,9,0,1,7.23,25
13900,Bundesliga,Spvgg Greuther Furth,paul-seguin,Paul Seguin,Germany,3/29/1995,Midfield,midfield - Central Midfield,Right,2021,2250000,27,2110,0,3,9,0,0,6.40,26

In [55]:
data_table.to_csv("data_table.csv",index = False)

Now all data has been saved