# input table
## importing

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
PATH = Service("C:\Program Files (x86)\chromedriver.exe")

driver = webdriver.Chrome(service = PATH)

In [2]:
club_read = pd.read_csv("raw_datasets\clubs.csv")
club_read.head()

,club_id,name,pretty_name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,url
0,1032,fc-reading,Fc Reading,GB1,33.66,26,25.9,12,46.2,6,Select Car Leasing Stadium,24161,+£8.37m,Brian McDermott,https://www.transfermarkt.co.uk/fc-reading/sta...
1,2323,orduspor,Orduspor,TR1,NaN,0,NaN,0,NaN,0,19 Eylül Stadyum,11024,+-0,Héctor Cúper,https://www.transfermarkt.co.uk/orduspor/start...
2,1387,acn-siena-1904,Acn Siena 1904,IT1,4.32,30,26.2,6,20.0,2,Artemio Franchi,15373,£-6Th.,Serse Cosmi,https://www.transfermarkt.co.uk/acn-siena-1904...
3,3592,kryvbas-kryvyi-rig,Kryvbas Kryvyi Rig,UKR1,2.95,24,24.5,2,8.3,0,Shakhty Zhovtneva,2500,£-270Th.,Oleg Taran,https://www.transfermarkt.co.uk/kryvbas-kryvyi...
4,1071,wigan-athletic,Wigan Athletic,GB1,12.38,29,26.5,14,48.3,6,DW Stadium,25133,£-140Th.,Roberto Martínez,https://www.transfermarkt.co.uk/wigan-athletic...

In [3]:
competitions_read = pd.read_csv("raw_datasets\competitions.csv")
competitions_read.head()

,competition_id,name,type,country_id,country_name,domestic_league_code,confederation,url
0,L1,bundesliga,first_tier,40,Germany,L1,europa,https://www.transfermarkt.co.uk/bundesliga/sta...
1,DFB,dfb-pokal,domestic_cup,40,Germany,L1,europa,https://www.transfermarkt.co.uk/dfb-pokal/star...
2,DFL,dfl-supercup,domestic_super_cup,40,Germany,L1,europa,https://www.transfermarkt.co.uk/dfl-supercup/s...
3,NL1,eredivisie,first_tier,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/eredivisie/sta...
4,NLP,toto-knvb-beker,domestic_cup,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/toto-knvb-beke...

In [4]:
players_read = pd.read_csv("raw_datasets\players.csv")
players_read.head()

,player_id,last_season,current_club_id,name,pretty_name,country_of_birth,country_of_citizenship,date_of_birth,position,sub_position,foot,height_in_cm,market_value_in_gbp,highest_market_value_in_gbp,url
0,254016,2013,855,arthur-delalande,Arthur Delalande,France,France,5/18/1992,Midfield,midfield - Central Midfield,Right,186,NaN,90000.0,https://www.transfermarkt.co.uk/arthur-delalan...
1,51053,2013,23,daniel-davari,Daniel Davari,Germany,Iran,1/6/1988,Goalkeeper,Goalkeeper,Right,192,135000.0,1130000.0,https://www.transfermarkt.co.uk/daniel-davari/...
2,31451,2013,23,torsten-oehrl,Torsten Oehrl,Germany,Germany,1/7/1986,Attack,attack - Centre-Forward,Right,192,NaN,1130000.0,https://www.transfermarkt.co.uk/torsten-oehrl/...
3,44622,2013,3691,vladimir-kisenkov,Vladimir Kisenkov,UdSSR,Russia,10/8/1981,Defender,Defender - Right-Back,Right,182,NaN,720000.0,https://www.transfermarkt.co.uk/vladimir-kisen...
4,30802,2013,3302,oscar-diaz,Oscar Diaz,Spain,Spain,4/24/1984,Attack,attack - Centre-Forward,Right,183,NaN,1080000.0,https://www.transfermarkt.co.uk/oscar-diaz/pro...

In [5]:
players_valuations_read = pd.read_csv("raw_datasets\player_valuations.csv")
players_valuations_read.head()

   player_id        date  market_value
0     254016  2013-07-22         90000
1     254016  2014-01-14         90000
2      51053  2008-08-25         90000
3      51053  2011-05-30         90000
4      51053  2011-08-26        225000

In [6]:
url = [competitions_read.loc[competitions_read.domestic_league_code == x].iloc[0,7] 
       for x in ["GB1", "IT1", "ES1", "FR1", "L1"]]
url

['https://www.transfermarkt.co.uk/premier-league/startseite/wettbewerb/GB1',
 'https://www.transfermarkt.co.uk/serie-a/startseite/wettbewerb/IT1',
 'https://www.transfermarkt.co.uk/laliga/startseite/wettbewerb/ES1',
 'https://www.transfermarkt.co.uk/ligue-1/startseite/wettbewerb/FR1',
 'https://www.transfermarkt.co.uk/bundesliga/startseite/wettbewerb/L1']

In [ ]:
PATH = Service("C:\Program Files (x86)\chromedriver.exe")

driver = webdriver.Chrome(service = PATH)

team_names = []

# extract only teams currently in the league
for league_url in url:
    driver.get(league_url)

    
    # get number of teams in the league
    league_details = driver.find_element("xpath", "(//tbody)").find_element("xpath", "(//tr)[2]").get_attribute('innerHTML')
    league_details.replace(' ','')
    start_stamp = league_details.find('<td>')+5
    end_stamp = league_details.find('teams',start_stamp)
    no_of_teams = int(league_details[start_stamp:end_stamp].strip())

    
    # get name of each team, matching club table convention
    search = driver.find_element("xpath", "(//tbody)[4]")
    for _ in range (1, no_of_teams+1):
        detail = search.find_element("xpath","(//td[@class='hauptlink no-border-links'])[%i]" %_).get_attribute('innerHTML')
        start_stamp = detail.find('/')+1
        end_stamp = detail.find('/',start_stamp)
        team_names.append(detail[start_stamp:end_stamp])

driver.close()

team_names

In [ ]:
filter_table = club_read.loc[(club_read.domestic_competition_id == 'GB1') & (club_read.name.isin(team_names))].iloc[:,[0,1,2,3,-1]]

In [ ]:
epl_table = pd.DataFrame({'name':team_names}).merge(filter_table)
epl_table

In [ ]:
mc_players = players_read.loc[(players_read.current_club_id == epl_table.iloc[0].club_id)&(players_read.last_season == 2021)]
mc_players

In [ ]:
player_past = pd.merge(mc_players, players_valuations_read, on = ['player_id'])
player_past.loc[(player_past.player_id == mc_players.iloc[0].player_id)]